body {
    background-color: black;
    color: white;
}

.centrar-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-grafico {
    width: 80%;
}

.centrar-divs2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #756d6d;
    width: 20%;
}

#boton-buscar {
    margin: 7%;
    width: 75%;
    background-color: blue;
    color: white;
    height: 2rem;
}

.resultado {
    margin-bottom: 12%;
    margin-top: 6%;
}

select {
    width: 75%;
    height: 2rem;
}

#inputPesos {
    height: 2rem;
}

.div-grafico {
    margin-top: 4%;
}